{{ define "main" }}
  <body class="flex flex-col h-full">
    {{ partial "navigation" . }}


    <main class="flex-1 px-5 md:px-8">
      <div class="mx-auto max-w-2xl">
        {{ .Content }}
      </div>

      <div class="mx-auto max-w-2xl">
        {{ $posts := (where .Site.RegularPages "Section" "blog") }}
        {{ range $posts.GroupByDate "2006" }}
          <div>
            <h2 class="text-xl font-bold">
              {{ .Key }}
            </h2>
            <div class="py-2">
              {{ range .Pages }}
                <div class="flex items-center space-x-4 py-1.5{{ with .Draft }}{{ ` opacity-35` }}{{ end }}">
                  <div class="text-neutral-400 font-medium text-base min-w-14 whitespace-nowrap">
                    <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Jan 2" }}</time>
                  </div>
                  <div class="text-lg">
                    <a href="{{ .RelPermalink }}" class="hover:underline">
                      {{ .Title }}
                    </a>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}

      </div>
    </main>

    {{ partial "footer" . }}
  </body>
{{ end }}
