<div class="grid grid-cols-1 sm:grid-cols-2 rounded bg-white shadow gap-2 border border-gray-200 overflow-hidden">
  <div class="bg-gray-100 h-full p-6 space-y-5">
    <h3 class="font-bold text-2xl hidden sm:block">Stay up-to-date on the latest trends</h3>
    <p>
      Hi, I’m <a href="https://x.com/tom_antok" target="_blank" class="underline"><strong>Tom</strong></a
      >, software developer and solopreneur. I'm a big fan of minimalism and believe modern applications should be simple and as fast as possible.
    </p>

    <img src="/img/avatar-1.png" alt="" class="block size-16 rounded-full" />
  </div>
  <div id="mc_embed_signup">
    <form
      action="https://loglesk.us21.list-manage.com/subscribe/post?u=e1e1f6b909feda465d737dc12&amp;id=b16d492ef9&amp;f_id=0063e7e6f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_self"
    >
      <div class="p-4">
        <h2 class="text-lg font-bold tracking-tight text-gray-900">Subscribe to my newsletter</h2>

        <div class="space-y-2 my-5">
          <label for="email-address">Email Address</label>
          <input
            type="email"
            name="EMAIL"
            id="mce-EMAIL"
            required=""
            autocomplete="email"
            required
            class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6 w-full"
            placeholder="Enter your email"
          />
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn-normal flex-none px-3.5 py-2.5 text-sm font-semibold w-full">Subscribe</button>

          <p class="text-gray-600 text-sm">No spam. Unsubscribe at any time.</p>

          <div aria-hidden="true" style="position: absolute; left: -5000px;">
            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
            <input type="text" name="b_e1e1f6b909feda465d737dc12_b16d492ef9" tabindex="-1" value="" />
          </div>
          <!--           
          <div class="text-center pt-4">
            <a href="http://eepurl.com/iztE6o" title="Mailchimp - email marketing made easy and fun"
              ><span style="display: inline-block; background-color: transparent; border-radius: 4px;"
                ><img
                  class="refferal_badge"
                  src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                  alt="Intuit Mailchimp"
                  style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;" /></span
            ></a>
          </div>
           -->
        </div>
      </div>
    </form>
  </div>
</div>
